<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eshepherd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EShepherd">
        <activity
            android:name=".EditJagenjcekActivity">
            android:parentActivityName=".ShowJagenjcekActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowJagenjcekActivity" />
        </activity>
        <activity
            android:name=".EditCredaActivity"
            android:parentActivityName=".ShowCredaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowCredaActivity" />
        </activity>
        <activity
            android:name=".EditOvenActivity"
            android:parentActivityName=".ShowOvenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowOvenActivity" />
         </activity>
        <activity
            android:name=".EditOvcaActivity"
            android:parentActivityName=".ShowOvcaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowOvcaActivity" />
            </activity>
        <activity
            android:name=".EditKotitevActivity"
            android:parentActivityName=".ShowKotitevActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowKotitevActivity" />
        </activity>
        <activity android:name=".EditGonitevActivity"
            android:parentActivityName=".ShowGonitevActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowGonitevActivity" />
        </activity>
        <activity
            android:name=".ShowOvenActivity"
            android:parentActivityName=".OvniDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OvniDisplayActivity" />
        </activity>
        <activity
            android:name=".ShowOvcaActivity"
            android:parentActivityName=".OvceDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OvceDisplayActivity" />
        </activity>
        <activity
            android:name=".ShowJagenjcekActivity"
            android:parentActivityName=".JagenjckiDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JagenjckiDisplayActivity" />
        </activity>
        <activity
            android:name=".ShowCredaActivity"
            android:parentActivityName=".CredeDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CredeDisplayActivity" />
        </activity>
        <activity
            android:name=".ShowGonitevActivity"
            android:parentActivityName=".GonitveDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GonitveDisplayActivity" />
        </activity>
        <activity
            android:name=".ShowKotitevActivity"
            android:parentActivityName=".KotitveDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KotitveDisplayActivity" />
        </activity>
        <activity
            android:name=".KotitveDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GonitveDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OvniDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CredeDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OvceDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".JagenjckiDisplayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddKotitevActivity"
            android:parentActivityName=".KotitveDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KotitveDisplayActivity" />
        </activity>
        <activity
            android:name=".AddGonitevActivity"
            android:parentActivityName=".GonitveDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GonitveDisplayActivity" />
        </activity>
        <activity
            android:name=".AddOvenActivity"
            android:parentActivityName=".OvniDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OvniDisplayActivity" />
        </activity>
        <activity
            android:name=".AddCredaActivity"
            android:parentActivityName=".CredeDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CredeDisplayActivity" />
        </activity>
        <activity
            android:name=".AddOvcaActivity"
            android:parentActivityName=".OvceDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OvceDisplayActivity" />
        </activity>
        <activity
            android:name=".AddJagenjcekActivity"
            android:parentActivityName=".JagenjckiDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JagenjckiDisplayActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>